@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-display;
  }
}

body {
  width: 100vw;
  height: 100vh;
  background: #9CD1DC;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  background: transparent;

}

nav button {
  top: 18px;
  left: 15px;
}

ul,
li {
  margin: 0;
  padding: 0;
}

nav ul {
  padding: 25px;
  top: 100px;
  width: 230px;
}

nav li {
  list-style: none;
  margin-bottom: 20px;
}
